<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sandra's Portfolio</title>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Sandra Tan</a></h1>
        <img src="./images/colouredtransparent.png" alt="profilepic" />
        
        <p>With a decade in the field of public health, safety & security policies and strategies, I ventured into data science after being intrigued by digital health projects. The projects I have under my belt spans across predictive modeling, NLP, and deep learning, with an emphasis on data-driven impact, especially for a social or health cause. Connect with me if you'd like to chat or discuss anything related to data science!</p>
       
        <p class="view"><img src="./images/github-mark.png" alt="github-mark" style="width:8%"/><a href="{{ github.owner_url }}">  View My GitHub Profile</a></p>
        <p class="view"><img src="./images/LI-In-Bug.png" alt="LI-mark" style="width:8%"/><a href="https://www.linkedin.com/in/sandra-tan-sg">  View My LinkedIn Profile</a></p>
                
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
       
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
